body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
}
.container {
	width: 400px;
	margin: auto;
}
.center {
	text-align: center;
}
.form {
	min-height: 6em;
}
footer.container {
	margin-top: 6em;
}
footer ul {
	list-style: none;
	padding: 0;
}
footer li {
	line-height: 1.8em;
}